
         h1{
             background-color:  lightgoldenrodyellow;
             color: darkred;
             
         }
         section {
             background-color: lightyellow;
             color: black;
         }

.text{
    font-weight: bolder;
    color: black;
    
    opacity: 1;
    
}
